:root {
    --mainColor: #f6f8fa;
    --darkBlack: #2d2f31;
    --darkGrey: #61666b;
    --grey: #f5f5f5;
    --lightGrey: #f2f2f2;
    --yellow: #fecb40;
    --red: #df113c;
}

*   {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    color: var(--darkBlack);
    overflow-x: hidden;
}

h2  {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

p   {
    font-size: 14px;
}

.label-cart {
    font-size: 24px;
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 4;
    cursor: pointer;
    color: #f2f2f2;
}

.label-cart::after {
    content: attr(data-count);
    position: absolute; /* Position absolute to overlay on top of the cart icon */
    top: -10px; /* Adjust the top position to align it properly */
    right: -10px; /* Adjust the right position to align it properly */
    background-color: black; /* Set the background color */
    color: white; /* Set the text color */
    border-radius: 50%; /* Apply border-radius for a perfect circle */
    padding: 5px; /* Adjust padding for positioning within the circle */
    font-size: 12px; /* Adjust the font size for the number */
    width: 12px; /* Set the width to make it a smaller circle */
    height: 12px; /* Set the height to make it a smaller circle */
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; /* Hide initially */
}

.label-cart[data-count]:not([data-count='0'])::after {
    visibility: visible; /* Show when data-count is present and not equal to '0' */
}

.logo-container {
    position: fixed;
    top: 0;
    left: 15px;
    padding: 10px; /* Adjust padding as needed */
    filter: drop-shadow(12px 12px 12px rgb(255, 255, 255)); /* Adjust drop shadow properties */
    z-index: 2; /* Set a higher z-index */
    transform: scale(0.11); /* Adjust the scale value (0.8 is an example) */
    transform-origin: top left; /* Set the transform origin to the top left corner */
  }

  .logo {
    position: fixed;
    background-color: var(--darkBlack);
    color: var(--lightGrey);
    width: 100%;
    height: 63px;
    font-size: 24px;
    text-align: center;
    padding: 10px 0; /* Adjust the top and bottom padding */
    top: 0;
    z-index: 1; /* Lower z-index */
  }

  .logo img {
    width: 80px; /* Adjust the width of the logo */
    height: auto;
    filter: brightness(0) invert(1) saturate(100%) sepia(0%) hue-rotate(0deg); /* Apply white filter */
  }

.dashboard {
    height: 100%;
    width: 100%;
    margin: 0 auto; /* Center the content */
    padding-left: 0;
    padding-right: 10px; /* Adjust the excess space */
    overflow-x: hidden;
}

.dashboard-banner {
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 30px;
    cursor: pointer;
}

.dashboard-banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.banner-promo {
    position: absolute;
    color: var(--lightGrey);
    top: 25%;
    left: 10%;
    font-weight: 800;
}

.banner-promo > h1 > span {
    color: var(--yellow);
}

.dashboard-title {
    padding: 0 1rem;
}

.dashboard-menu {
    display: flex;
    gap: 10px;
    padding: 0.3rem 1rem;
    overflow-x: none;
}

.dashboard-menu > a {
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    min-width: 120px;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: var(--darkBlack);
    background-color: var(--lightGrey);
}

.dashboard-menu > a:hover {
    background-color: var(--red);
    color: var(--lightGrey);
}


.dashboard-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0.5rem 1rem 1rem 1rem;
}

.dashboard-content h2 {
    font-weight: bold;
    margin-bottom: 10px; /* Adjust spacing as needed */
}

.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust spacing between cards */
}

.dashboard-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.dashboard-card {
    background-color: var(--mainColor);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}


.dashboard-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}

.dashboard-content .dashboard-card .card-image {
    height: 220px; /* Adjust the height as needed */
}

.card-detail {
    padding: 10px;
}

.card-detail > h4 > span {
    float: right;
}

.card-add-to-cart {
    text-align: center;
    margin-top: 10px;
}

.add-to-cart-btn {
    background-color: var(--yellow);
    color: var(--darkBlack);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: var(--darkGrey);
    color: var(--lightGrey);
}

.dashboard-order {
    width: 340px;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5rem 1.5rem;
    background-color: var(--mainColor);
    z-index: 3;
}

.dashboard-order > h3 {
    padding: 10px 0;
}

.order-wrapper {
    position: static;
    max-height: 500px;
    width: 110%;
    overflow-y: auto;
    margin: 20px -30px;
    padding: 1px;
    border: 1px solid var(--grey);
    border-radius: 10px;
}

/* Custom scroll */
.order-wrapper::-webkit-scrollbar {
    width: 7px;
}

.order-wrapper::-webkit-scrollbar-track {
    background-color: var(--lightGrey);
    border-radius: 20px;
}

.order-card {
    display: flex;
    align-items: left;
    padding: 10px;
    border-bottom: 1px dashed var(--grey);
    margin-left: 10px;
}

.order-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 0;
}

.order-detail {
    flex-grow: 1;
}

.order-detail h4 {
    margin-bottom: 5px;
}

.order-quantity {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 2px solid var(--grey);
    border-radius: 10px;
    background-color: transparent;
    margin-left: 10px;
}

.order-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three equal-width columns */
    gap: 5px; /* Adjust the gap between buttons */
}

.order-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Adjust the size of the icons */
}

.order-actions .remove-from-order {
    color: red; /* Adjust the color for the trash icon */
}

.order-total {
    margin-top: 20px;
  }
  
  .order-total p {
    padding: 10px 0;
  }
  
  .order-total p > span {
    float: right;
    font-weight: 600;
    color: var(--red); /* You can adjust the color as needed */
  }

.order-total {
    padding: 10px 0;
    border-top: 1px dashed var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px; /* Adjust the width as needed */
    height: 40px;
    text-align: center;
    background-color: var(--red);
    border: none;
    border-radius: 20px;
    color: var(--lightGrey);
    cursor: pointer;
}

.checkout:hover {
    text-transform: uppercase;
    font-weight: 600;
}

#cart {
    display: none;
}

#cart:checked ~ .label-cart {
    color: var(--lightGrey);
}

#cart:checked ~ .dashboard {
    padding-right: 10px;
}

#cart:not(:checked) ~ .dashboard-order {
    display: none; /* Hide the order menu by default */
}

#cart:checked ~ .dashboard-order {
    display: block; /* Show the order menu when the cart is checked */
}

#cart:checked ~ .logo {
    padding-right: 0px;
}

#cart:checked ~ .close-icon {
    display: block; /* Show the close icon when the order menu is open */
}

#cart:checked ~ .label-cart {
    display: none; /* Hide the cart icon when the order menu is open */
}

.close-icon {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    color: var(--darkBlack);
    display: none; /* Hide the close icon by default */
}

#cart:checked ~ .dashboard-order .close-icon {
    display: block; /* Show the close icon when the order menu is open */
}

#cart:checked ~ .dashboard-order {
    display: block; /* Show the order menu when the cart is checked */
}

@media screen and (max-width: 562px) {
    body {
        overflow-x: hidden;
    }

    .dashboard {
        padding-left: 0;
    }

    .dashboard-order {
        width: 100%;
        left: 0;
    }
    .dashboard-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 3px;
        padding: 5px; /* Adjust the padding */
    }

    .dashboard-menu > a {
        width: 48%;
        margin: 5px;
        font-size: 12px;
        border-radius: 20px;
        padding: 8px 12px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dashboard-menu > a > span {
        margin-right: 5px;
    }

    .dashboard-order .checkout {
        width: 95%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 561px) and (min-width: 278px) {
    .dashboard-content {
        grid-template-columns: repeat(2, 1fr); /* Two columns per row */
        gap: 20px;
        padding: 0.5rem 1rem 1rem 1rem;
    }

    .dashboard-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns per row */
        gap: 3px;
        padding: 5px; /* Adjust the padding */
    }

    .dashboard-menu > a {
        width: 100%;
        margin: 5px;
        font-size: 12px;
        border-radius: 20px;
        padding: 8px 12px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}